<div id="content">
    <h1 class="pt-3">Get the latest articles from The Real News Network!</h1>
    <a href="/scrape" class="btn btn-primary">Click here to scrape the latest articles!</a>
    <hr>

    {{#each posts}}
    <div class="row mb-3">
        <div class="col-lg-4 mr-2">
            <img src="{{this.postImage}}" class="card-img-top">
        </div>
        <div class="col-lg-6">
            <h5 class="card-title">{{this.postTitle}}</h5>
            <p>{{this.postDate}}</p>
            <p class="card-text">{{this.postSummary}}</p>
            <a href="{{this.postLink}}" class="btn btn-primary" target="_blank">Take me to the full article</a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-4 mr-2">
            <form action="/api/{{this._id}}/comments" method="POST" class="mb-2">
                <div class="form-group">
                    <h5>Leave a comment!</h5>
                    <input type="text" class="form-control" name="commentBody">
                </div>
                <button type="submit" class="btn btn-primary float-right">Submit</button>
            </form>
        </div>
        <div class="col-lg-6 scroll">
            <h5>Comments</h5>
            <hr>
            {{#each this.comments}}
            <p>{{this.commentBody}}</p>
            <small>{{this.commentDate}}</small>
            <a href="/delete/{{this._id}}" class="btn btn-danger d-block mt-2">Delete comment</a>
            <hr>
            {{/each}}
        </div>
    </div>
    <hr>
    {{/each}}
</div>